language: generic
sudo: required
services:
  - docker

before_install:
  - docker build -t somnus74/docker-tute -f Dockerfile.dev .

script:
  - docker run -e CI=true somnus74/docker-tute npm run test

